
###  GENERAL FRAMEWORKS ###

# langchain
# langchain-google-genai
# google-generativeai
# python-dotenv
# langchain-core
# colorama

# langchain>=0.2.0
# langchain-core>=0.2.0
# langchain-google-genai>=2.0.0

# google-genai>=0.5.0

# python-dotenv>=1.0.0
# pydantic>=2.0.0


###  MULTIPE HOP RAG REASONING ###
langchain>=0.2.0
langchain-core>=0.2.1
langchain-community>=0.2.0

langchain-chroma>=0.1.0
langchain-google-genai>=1.0.0

google-generativeai>=0.7.0

python-dotenv>=1.0.1
tqdm>=4.66.1
numpy>=1.26.0

faiss-cpu>=1.8.0

